<section id="login">
	<div class="container form-wrap">
		<h1>Login Here</h1>
		<form ng-submit="submit()" name="registerForm" novalidate>
			<input type="email" name="email" ng-model="email" class="form-control" placeholder="somebody@example.com">
			<div class="help-block" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">Please enter valid email.</div>

			<input type="password" name="password" ng-model="password" class="form-control" placeholder="Password">
			<input type="submit" ng-disable="registerForm.$invalid" class="btn btn-custom btn-lg btn-block" value="Submit">
			<a class="text-muted pull-right" ui-sref="register">Register</a>

			<button type="button" ng-click="authenticate('google')" class="btn btn-custom btn-lg btn-block btn-default">Sign in with Google</button>
			<button type="button" ng-click="authenticate('facebook')" class="btn btn-custom btn-lg btn-block btn-default">Sign in with Facebook</button>
		</form>

	</div>
</section>