<section id="login">
	<div class="container form-wrap">
		<h1>Register Here</h1>
		<form name="registerForm" novalidate>
			<input type="email" name="email" ng-model="email" class="form-control" placeholder="somebody@example.com">
			<div class="help-block" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">Please enter valid email.</div>

			<input type="password" name="password" ng-model="password" class="form-control" placeholder="Password">
			<input type="password" name="password_confirm" ng-model="password_confirm" class="form-control" placeholder="Confirm Password" validate-password="password">

			<div class="help-block" ng-show="registerForm.password_confirm.$dirty && registerForm.password_confirm.$invalid">Please match password.</div>
			<input type="submit" ng-disable="registerForm.$invalid" class="btn btn-custom btn-lg btn-block" value="Submit">
		</form>
	</div>
</section>